@import "tailwindcss";



:root {
  --bg: #f9fafb;
  --bg-gradient-start: #f9fafb;
  --bg-gradient-end: #f3f4f6;
  --text: #111827;
  --text-muted: #6b7280;
  --btn-bg: #3b82f6;
  --btn-hover: #2563eb;
}

[data-theme="dark"] {
  --bg: #111827;
  --bg-gradient-start: #111827;
  --bg-gradient-end: #1f2937;
  --text: #f9fafb;
  --text-muted: #9ca3af;
  --btn-bg: #3b82f6;
  --btn-hover: #2563eb;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
